.blog.innercontainer
	%br
	- subsection.posts.each do |post|
		.entry
			.row-fluid
				.entry-head.row-fluid
					%h3= post.title
					- if post.date?
						%h4= post.date
				.entry-content.row-fluid
					- if post.image_url(:thumb).to_s != ''
						.span9
							= post.content.nil? ? post.content : post.content.html_safe
							
						.span3
							= image_tag post.image_url.to_s
					- else
						.span12
							= post.content.nil? ? post.content : post.content.html_safe