-if @sliders.count > 0
	.row-fluid
		.span12
			#myCarousel.carousel.slide
				.carousel-inner
					- @sliders.each_with_index do |post, index|
						.item{:class => index == 0 ? 'active' : ''}
							= image_tag post.image_url(:slider).to_s
							.carousel-caption
								%h4
									= post.title
								%p
									= post.content.nil? ? post.content : post.content.html_safe
									= link_to 'Edit', edit_section_page_post_path(@section, @page, post)
									= link_to 'Delete', section_page_post_path(@section, @page, post), method: :delete, :confirm => 'Are you sure?'
				%a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
				%a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
-if @sliders.count == 0
	%br
	%br
	%br
.row-fluid
	.span7
		.thumbnail
			%iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.ca/maps?q=#{AjoCms::Company.first.address},+#{AjoCms::Company.first.city},+#{AjoCms::Company.first.province},+#{AjoCms::Company.first.country}&ie=UTF8&hq=&hnear=#{AjoCms::Company.first.address},+#{AjoCms::Company.first.city},+#{AjoCms::Company.first.province},+#{AjoCms::Company.first.zip_code}&iwloc=&amp&gl=ca&t=m&z=14&output=embed", :width => "530"}
	.span5
		%h3 Contact us
		.row-fluid
			.span12
				%h4= AjoCms::Company.first.contact
				= 'Phone: ' + AjoCms::Company.first.phone
				%br
				= 'Email: ' 
				%a{:href => AjoCms::Company.first.email}
					= AjoCms::Company.first.email
				%br
				%br
		.row-fluid
			.span12
				%h4= AjoCms::Company.first.name
				%br
		.row-fluid
			.span12
				= AjoCms::Company.first.address
				= AjoCms::Company.first.city + ', ' + AjoCms::Company.first.state + ', ' + AjoCms::Company.first.country