- if @sliders.count > 0
	.row-fluid
		.span12
			.thumbnail
				#myCarousel.carousel.slide
					.carousel-inner
						- @sliders.each_with_index do |post, index|
							.item{:class => index == 0 ? 'active' : ''}
								= image_tag post.image_url(:slider).to_s
								.carousel-caption
									%h4
										= post.title
									%p
										= post.content
					%a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
					%a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
.row-fluid
	- @headlines.each do |headline|
		.headline.span4
			%h3= headline.title
			= simple_format(headline.content)