.row
	.span3
		.thumbnail= image_tag "ajo_cms/page_#{@page.layout}.png"
	.span4
		%h2= @page.name
		%h4= @page.title
		%h4
			Last updated:
			%br
			= @page.updated_at
%br
.row
	#actions.span12
		= render "layouts/page_admin_actions/#{@page.layout}"	
= render "layouts/page_admin_templates/#{@page.layout}"
.modal-backdrop
.modal
	.modal-header
		%h3
			= @post.title
			= link_to section_page_path(@section, @page) do
				%i.icon-remove
	.modal-body
		= image_tag @post.image_url(:thumb).to_s
		= @post.content