.modal-header
	%h3
		= 'Crop Slider Image'
		= link_to section_page_path(@section, @page) do
			%i.icon-remove
.modal-body
	= image_tag @post.image_url(:large), :id => 'cropbox'

.modal-footer
	= form_for @post, :url => controller.action_name == 'new' ? section_page_subsection_posts_path(@section, @page, @subsection, @post) : section_page_subsection_post_path(@section, @page, @subsection, @post) do |f|
		.actions
			- %w[x y w h].each do |attribute|
				= f.hidden_field "crop_#{attribute}"
			= f.submit "Crop", :class => 'btn'