- if params[:type] == 'slider'
	.modal-header
		%h3
			New Slider Image
			= link_to section_page_path(@section, @page) do
				%i.icon-remove
	= form_for @post, builder: LabelledFormBuilder, :html => {:multipart => true}, :url => controller.action_name == 'new' ? section_page_posts_path(@section, @page, @post) : section_page_post_path(@section, @page, @post) do |f|
		.modal-body
			.row-fluid
				.span6
					= f.hidden_field :page_id, :value => @page.id
					= f.hidden_field :post_type, :value => 'slider'
					= f.text_field "Title", :title
				.span6
					.field
						= f.label :image, "Image"
						= f.file_field :image
			.row-fluid
				.span12
					= f.text_area "Caption", :content
		.modal-footer
			= link_to section_page_path(@section, @page) do
				%span.btn Cancel
			= f.submit "Save", :class => 'btn'
- elsif params[:type] == 'headline'
	.modal-header
		%h3
			New Headline
			= link_to section_page_path(@section, @page) do
				%i.icon-remove
	= form_for @post, builder: LabelledFormBuilder, :html => {:multipart => true}, :url => section_page_posts_path(@section, @page, @post) do |f|
		.modal-body
			.row-fluid
				.span12
					= f.hidden_field :page_id, :value => @page.id
					= f.hidden_field :post_type, :value => 'headline'
					= f.text_field "Title", :title
			.row-fluid
				.span12
					= f.text_area "Copy", :content
		.modal-footer
			= link_to section_page_path(@section, @page) do
				%span.btn Cancel
			= f.submit "Save", :class => 'btn'