.modal-header
	%h3
		= controller.action_name.capitalize + ' Text'
		= link_to section_page_path(@section, @page) do
			%i.icon-remove
= form_for @post, builder: LabelledFormBuilder, :html => {:multipart => true}, :url => action_name == 'new' ? section_page_subsection_posts_path(@section, @page, @subsection, @post) : section_page_subsection_post_path(@section, @page, @subsection, @post) do |f|
	.modal-body
		.row-fluid
			.span12
				= f.hidden_field :subsection_id, :value => @subsection.id
				= f.hidden_field :post_type, :value => 'text'
				= f.text_field "Title", :title
		.row-fluid
			.span12
				= f.text_area "Copy", :content
	.modal-footer
		= link_to section_page_path(@section, @page) do
			%span.btn Cancel
		= f.submit "Save", :class => 'btn'
