= form_for @company, builder: LabelledFormBuilder, :html => {:multipart => true} do |f|
	.row-fluid
		.span4
			= f.text_field "Name", :name
		.span4
			= f.text_field "Title", :title
		.span4
			= f.text_field "Contact", :contact
	.row-fluid
		.span4
			
			= f.text_field "Phone", :phone
			= f.text_field "Address", :address
			= f.text_field "Country", :country
			
		.span4
			= f.text_field "Fax", :fax
			= f.text_field "Province", :state
			= f.text_field "Postal Code", :zip_code
		.span4
			= f.text_field "Email", :email
			= f.text_field "City", :city
			= f.file_field :logo
	.row-fluid
		.span12
			%h4 Layout 
	%br
	.row-fluid
		- ['default', 'sidebar', 'header'].each do |layout|
			.span4
				= radio_button_tag 'company[layout]', layout, @company.layout == layout
				= layout.capitalize
				.thumbnail= image_tag("ajo_cms/application_#{layout}.png")
	.row
		.span4.offset8
			= f.submit "Save", :class => 'btn'
			= link_to company_path do
				%span.btn Cancel