.row-fluid
	.span4
		= detail_helper("Name", @company.name)
	.span4
		= detail_helper("Title", @company.title)
	.span4
		= detail_helper("Contact", @company.contact)
.row-fluid
	.span4
		
		= detail_helper("Phone", @company.phone)
		= detail_helper("Address", @company.address)
		= detail_helper("Country", @company.country)
		
	.span4
		= detail_helper("Fax", @company.fax)
		= detail_helper("Province", @company.state)
		= detail_helper("Postal Code", @company.zip_code)
	.span4
		= detail_helper("Email", @company.email)
		= detail_helper("City", @company.city)
		%b Logo
		%br
		%br
		.thumbnail
			- unless AjoCms::Company.first.logo_url(:thumb).nil?
				= image_tag AjoCms::Company.first.logo_url(:thumb).to_s, :class => 'logo'
.row-fluid
	.span4
		%b Layout
		%br
		%br
		.thumbnail
			- if @company.layout.nil?
				= image_tag("ajo_cms/application_default.png")
			= image_tag("ajo_cms/application_#{@company.layout}.png")