.wrapper{:class => AjoCms::Company.first.theme.nil? ? 'default' : AjoCms::Company.first.theme }
	#header
		.container
			.row-fluid
				.span12
					= image_tag AjoCms::Company.first.logo_url.to_s
		#subheader
			.container
				.row-fluid
					.navbar.span12
						%ul.nav.nav-bar
							- @sections.each do |section|
								%li.dropdown
									- if controller.action_name == 'index'
										= link_to section.name, "/#{section.name}/#{@page.name}", :class => 'dropdown-toggle', 'data-dropdown' => 'dropdown'
										-if section.pages.count > 1
											%ul.dropdown-menu
												-section.pages[1..-1].each do |page|
													%li= link_to page.name, "/#{section.name}/#{page.name}"
									- else
										= link_to section.name, "/#{section.name}", :class => 'dropdown-toggle', 'data-dropdown' => 'dropdown'
										- if section.pages.count > 1
											%ul.dropdown-menu
												-section.pages[1..-1].each do |page|
													%li= link_to page.name, "/#{section.name}/#{page.name}"
	#content.container
		= render 'layouts/page_templates/' + @page_layout
	.push
%div{:class => AjoCms::Company.first.theme.nil? ? 'default' : AjoCms::Company.first.theme }
	.footer
		#info.container
			.row-fluid
				.span8
					- @sections.each_slice(2) do |slice|
						.row-fluid
							- slice.each do |section|
								.section_map.span6
									=section.name
									%br
									- if section.pages.count > 0	
										%ul.page_map
											- section.pages[1..-1].each do |page|
												%li= page.name

				.span4
					.row-fluid
						.span12
							%h4= @company.name
					%br
					.row-fluid
						.span6
							%b Contact: 
							%br
							= @company.contact
						.span6
							%b Email:
							= @company.email
				.span2