.wrapper{:class => AjoCms::Company.first.theme.nil? ? 'default' : AjoCms::Company.first.theme }
	#header
		.container
			.row-fluid
				.span12
					= image_tag AjoCms::Company.first.logo_url.to_s
		#subheader
			.container
				.row-fluid
					.navbar.span12
						%ul.nav.nav-bar
							- @sections.each do |section|
								%li.dropdown
									- if controller.action_name == 'index'
										= link_to section.name, "/#{section.name}/#{@page.name}", :class => 'dropdown-toggle', 'data-dropdown' => 'dropdown'
										-if section.pages.count > 1
											%ul.dropdown-menu
												-section.pages[1..-1].each do |page|
													%li= link_to page.name, "/#{section.name}/#{page.name}"
									- else
										= link_to section.name, "/#{section.name}", :class => 'dropdown-toggle', 'data-dropdown' => 'dropdown'
										- if section.pages.count > 1
											%ul.dropdown-menu
												-section.pages[1..-1].each do |page|
													%li= link_to page.name, "/#{section.name}/#{page.name}"
		.spacer
	#content.container
		= render 'layouts/page_templates/' + @page_layout
	.push
%div{:class => AjoCms::Company.first.theme.nil? ? 'default' : AjoCms::Company.first.theme }
	.spacer
	.footer
		#info.container
			.row-fluid
				.span3
					= @company.name
				.span5
					= @company.address + ', ' + @company.city + ', ' + @company.state + ', ' + @company.	country + ' ' + @company.zip_code
				.span2
					Phone: 
					= @company.phone
				.span2
					%a{:href => "mailto: #{@company.email}"}= @company.email
				%br
				%br
			.row-fluid
				.span12
					- @sections.each_slice(@sections.count) do |slice|
						.row-fluid
							- slice.each do |section|
								.section_map{:style => "min-width: #{80/@sections.count}%; max-width: #{105/(@sections.count)}%; display: inline-block; float: left; padding-left: 20px"}
									=section.name
									%br
									- if section.pages.count > 0	
										%ul.page_map
											- section.pages[1..-1].each do |page|
												%li= page.name

			