.row
	.span5.offset4
		%h2 Sign up
		.well
			= form_for @user do |f|
				.row-fluid
					.span6
						.field
							= f.label :email
							= f.text_field :email
						
						.field
							= f.label :password
							= f.password_field :password
						.field
							= f.label :password_confirmation
							= f.password_field :password_confirmation
						.field
							= f.submit "Create User", :class => 'btn'

