%table.table.header
	%thead
		%tr
			%th Section
			%th Title
			%th.links
	%tbody.sort{'data-update-url' => sort_sections_url}
		- @sections.each do |section|
			= content_tag_for :tr, section do
				%td= section.name
				%td= section.title
				%td.links
					= link_to section_path(section) do
						%i.icon-search
					= link_to edit_section_path(section) do
						%i.icon-edit
					= link_to section_path(section), method: :delete, :confirm => 'Are you sure?' do
						%i.icon-trash