%h2=@section.name
%h5
	= @section.title

%table.table.table-striped
	%thead
		%tr
			%th Page
			%th Title
			%th Layout
			%th
			%th
	%tbody
		- @pages.each do |page|
			%tr
				%td= page.name
				%td= page.title
				%td= page.layout
				%td= page.index_page == true ? 'index' : ''
				%td.links
					= link_to edit_section_page_path(@section, page) do
						%i.icon-edit
					= link_to section_page_path(page), method: :delete, :confirm => 'Are you sure?' do
						%i.icon-trash
