!!! html
%html
%head
	%title= AjoCms::Company.first.name + ' Admin'
	= stylesheet_link_tag    "ajo_cms/application", :media => "all"
	= javascript_include_tag "ajo_cms/application"
	= csrf_meta_tags
%body
	#admin
		.container
			.navbar.navbar-fixed-top
				.navbar-inner
					.container
						.brand= AjoCms::Company.first.name
						.btn= link_to "View Site", rails_app_root_path
						%ul.nav.pull-right
							
							%li= link_to current_user.email
							%li= link_to 'Logout', logout_path
		.container
			%header.jumbotron.subhead
				.subnav.subnav-fixed
					.container
						%ul.nav.nav-pills.span6
							%li{:class => controller.controller_name == 'sections' ? 'active' : ''}= link_to 'Content', sections_path()
							%li{:class => controller.controller_name == 'companies' ? 'active' : ''}= link_to 'Settings', company_path(1)
							%li{:class => controller.controller_name == 'users' ? 'active' : ''}= link_to 'Users', users_path
						%ul.pull-right.nav.nav-pills
							%li
								= render "actions/#{controller.controller_name}"
		.container		
			.row
				.span12
					= yield