!!! html
%html
%head
	%title= AjoCms::Company.first.name + ' Admin'
	= stylesheet_link_tag    "ajo_cms/application", :media => "all"
	= stylesheet_link_tag    "application", :media => "all"
	= javascript_include_tag "ajo_cms/application"
	= csrf_meta_tags
%body	
	- if current_user
		#preview
			.container-fluid
				.navbar.navbar-fixed-top
					.navbar-inner
						.container-fluid
							.brand= AjoCms::Company.first.name
							%ul.nav
								%li= link_to "Admin", root_path
							%ul.nav.pull-right
								%li
									%a= current_user.email
								%li= link_to 'Logout', logout_path
	= render 'layouts/main_templates/' + @site_layout