!!! html
%html
%head
	%title= AjoCms::Company.first.name + ' Admin'
	= stylesheet_link_tag    "ajo_cms/application", :media => "all"
	= stylesheet_link_tag    "application", :media => "all"
	= javascript_include_tag "ajo_cms/application"
	= csrf_meta_tags
%body	
	- if current_user
		#preview
			.container
				.navbar.navbar-fixed-top
					.navbar-inner
						.container
							.brand Preview
							%ul.nav.pull-right
								%li= link_to "Admin", root_path
	= render 'layouts/main_templates/' + @site_layout