- subsection.post_type('blogs').each do |post|
	.row-fluid
		.span12
			.row-fluid
				%h3
					= post.title
					.pull-right
						%i.icon-move
						= link_to edit_section_page_subsection_post_path(@section, @page, subsection, post, :type => 'blogs') do
							%i.icon-edit
						= link_to section_page_subsection_post_path(@section, @page, subsection, post), method: :delete, :confirm => 'Are you sure?' do
							%i.icon-remove

				%h4= post.date
				%br
			.row-fluid
				- if post.image_url.nil?
					.span12
						= post.content.html_safe
				- else
					.span9
						= post.content.html_safe
						
					.span3
						= image_tag post.image_url.to_s
	%br
