.row-fluid
	.span12
		%h3 Contact us
		.row-fluid
			.span6
				.row-fluid
					.span12
						%h4= AjoCms::Company.first.contact
						= 'Phone: ' + AjoCms::Company.first.phone
						%br
						= 'Email: ' + AjoCms::Company.first.email 
						%br
						%br
				.row-fluid
					.span12
						%h4= AjoCms::Company.first.name
						%br
				.row-fluid
					.span12
						= AjoCms::Company.first.address
						= AjoCms::Company.first.city + ', ' + AjoCms::Company.first.state + ', ' + AjoCms::Company.first.country
						