%h2=@section.name
%h5
	= @section.title

%table.table.table-striped
	%thead
		%tr
			%th Page
			%th Title
			%th Layout
			%th
			%th
	%tbody
		- @pages.each do |page|
			%tr
				%td= page.name
				%td= page.title
				%td= page.layout
				%td= page.index_page == true ? 'index' : ''
				%td.links
					= link_to edit_section_page_path(@section, page) do
						%i.icon-edit
					= link_to section_page_path(@section, page), method: :delete, :confirm => 'Are you sure?' do
						%i.icon-trash
.modal-backdrop
.modal
	.modal-header
		%h3
			New Page
			= link_to section_path(@section) do
				%i.icon-remove
	= form_for @page, :builder => LabelledFormBuilder, :url => section_pages_path do |f|
		.modal-body
			= f.hidden_field :section_id, :value => @section.id
			.row-fluid
				.span6= f.text_field "Name", :name
				.span6= f.text_field "Title", :title
			%b Layout
			%br
			%br
			.row-fluid
				- ['default', 'sidebar', 'header'].each do |layout|
					.span4
						= radio_button_tag 'page[layout]', layout, @page.layout == layout
						= layout.capitalize
						.thumbnail= image_tag("ajo_cms/application_#{layout}.png")
		
		.modal-footer
			= link_to section_path(@section) do
				%span.btn Cancel
			= f.submit 'Save', :class => 'btn'
