.row-fluid
	.span2
		= render 'sections_table'
	.span10
		- @page.subsections.each do |sub|
			.row
				.span2
					= image_tag "ajo_cms/page_#{sub.layout}.png", :height => '100px'
					= render :partial => "layouts/page_admin_actions/#{sub.layout}", :locals => {:subsection => sub}	
				.span10
					= render :partial => "layouts/page_admin_templates/#{sub.layout}", :locals => {:subsection => sub}

		.modal-backdrop.admin
		.modal.modal-large
			= render "layouts/crop/#{@subsection.layout}"